body {
  margin: 0;
}
footer {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: coral;
}

.topnav {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 960px;
    height: 60px;
    background-color: aqua;
}

#name-box {
    background-color: aqua;
    color: white;
    padding-left: 5px;
    float: left;
    height: 60px;
    z-index: 2;
    margin-right: 150px;
    font-family: 'Montserrat', sans-serif;

}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: aqua;
    max-width: 900px;
    height: 60px;
    margin-top:0;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  }

.main-body {
    background-color: aquamarine;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 100px);
    width: 960px;
    height: 80%;
    overflow: auto;
    border-radius: 2px;
}

.shadow {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

h2 {
  color: white;
  padding-left: 50px;
  font-family: 'Montserrat', sans-serif;
}
img {
  width: 200px;
  height: 375px;
  margin: 10px;
  padding-right: 10px;
  float: left;
}

p {
  color: white;
  width: 900px;
  padding: 10px;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
  clear: left;
}

.contact input[type="text"], .contact input[type="email"], .contact textarea {  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 20px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
	height: 100px;
}

.contact input[type="button"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
  text-transform: uppercase;
  transform: translate(100px, 0);
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.img-cards {
  width: 300px;
  height: 200px;
}

figcaption { 
  display: block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 768px) {
  .topnav {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 768px;
    height: 60px;
    background-color: aqua;
}  
  .main-body {
    background-color: aquamarine;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 100px);
    width: 700px;
    height: 80%;
    overflow: auto;
    border-radius: 2px;
}
  p {
    width: 650px;
    font-size: 28px;
  }

  img {
    width: 250px;
    height: 500px;
    margin: 0px;
    padding-right: 15px;
    float: left;
  }

  .img-cards {
    width: 223px;
    height: 200px;
    align-content: center;
  }

}

@media only screen and (max-width: 640px) {
  .topnav {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 620px;
    height: 60px;
    background-color: aqua;
}
  li a {
    font-size: 15px;
    padding: 10px 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: aqua;
    max-width: 640px;
    height: 60px;
    margin-top:0;
  }
  .main-body {
    background-color: aquamarine;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 100px);
    width: 620px;
    height: 80%;
    overflow: auto;
    border-radius: 2px;
}
  p {
    width: 550px;
    font-size: 24px;
  }

  img {
    width: 250px;
    height: 500px;
    margin: 0px;
    padding-right: 15px;
    float: left;
  }

  .img-cards {
    width: 195px;
    height: 200px;
    align-content: center;
  }
}
